
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.GeneratedMSBuildEditorConfig.editorconfig
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.dll
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.csproj.FileListAbsolute.txt
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.csproj.CoreCompileInputs.cache
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.csproj.CopyComplete
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.csproj.AssemblyReference.cache
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.assets.cache
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.AssemblyInfoInputs.cache
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.AssemblyInfo.cs
OxygenSiteRefactor/obj/Release/net6.0/apphost.exe
OxygenSiteRefactor/obj/Release/net6.0/_IsIncrementalBuild
OxygenSiteRefactor/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
OxygenSiteRefactor/obj/project.nuget.cache
OxygenSiteRefactor/obj/project.assets.json
OxygenSiteRefactor/obj/OxygenSiteRefactor.csproj.nuget.g.targets
OxygenSiteRefactor/obj/OxygenSiteRefactor.csproj.nuget.g.props
OxygenSiteRefactor/obj/OxygenSiteRefactor.csproj.nuget.dgspec.json
OxygenSiteRefactor/obj/Debug/net6.0/refint/OxygenSiteRefactor.dll
OxygenSiteRefactor/obj/Debug/net6.0/ref/OxygenSiteRefactor.dll
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.pdb
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.GlobalUsings.g.cs
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.genruntimeconfig.cache
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.GeneratedMSBuildEditorConfig.editorconfig
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.dll
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.csproj.FileListAbsolute.txt
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.csproj.CoreCompileInputs.cache
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.csproj.CopyComplete
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.csproj.BuildWithSkipAnalyzers
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.csproj.AssemblyReference.cache
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.assets.cache
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.AssemblyInfoInputs.cache
OxygenSiteRefactor/obj/Debug/net6.0/OxygenSiteRefactor.AssemblyInfo.cs
OxygenSiteRefactor/obj/Debug/net6.0/apphost.exe
OxygenSiteRefactor/obj/Debug/net6.0/_IsIncrementalBuild
OxygenSiteRefactor/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
OxygenSiteRefactor/bin/Release/net6.0/publish/OxygenSiteRefactor.runtimeconfig.json
OxygenSiteRefactor/bin/Release/net6.0/publish/OxygenSiteRefactor.pdb
OxygenSiteRefactor/bin/Release/net6.0/publish/OxygenSiteRefactor.exe
OxygenSiteRefactor/bin/Release/net6.0/publish/OxygenSiteRefactor.dll
OxygenSiteRefactor/bin/Release/net6.0/publish/OxygenSiteRefactor.deps.json
OxygenSiteRefactor/bin/Release/net6.0/publish/Newtonsoft.Json.dll
OxygenSiteRefactor/bin/Release/net6.0/publish/HtmlAgilityPack.dll
OxygenSiteRefactor/bin/Release/net6.0/OxygenSiteRefactor.runtimeconfig.json
OxygenSiteRefactor/bin/Release/net6.0/OxygenSiteRefactor.pdb
OxygenSiteRefactor/bin/Release/net6.0/OxygenSiteRefactor.exe
OxygenSiteRefactor/bin/Release/net6.0/OxygenSiteRefactor.dll
OxygenSiteRefactor/bin/Release/net6.0/OxygenSiteRefactor.deps.json
OxygenSiteRefactor/bin/Release/net6.0/Newtonsoft.Json.dll
OxygenSiteRefactor/bin/Release/net6.0/HtmlAgilityPack.dll
OxygenSiteRefactor/bin/Debug/net6.0/OxygenSiteRefactor.runtimeconfig.json
OxygenSiteRefactor/bin/Debug/net6.0/OxygenSiteRefactor.pdb
OxygenSiteRefactor/bin/Debug/net6.0/OxygenSiteRefactor.exe
OxygenSiteRefactor/bin/Debug/net6.0/OxygenSiteRefactor.dll
OxygenSiteRefactor/bin/Debug/net6.0/OxygenSiteRefactor.deps.json
OxygenSiteRefactor/bin/Debug/net6.0/Newtonsoft.Json.dll
OxygenSiteRefactor/bin/Debug/net6.0/HtmlAgilityPack.dll
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.genruntimeconfig.cache
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.GlobalUsings.g.cs
OxygenSiteRefactor/obj/Release/net6.0/OxygenSiteRefactor.pdb
OxygenSiteRefactor/obj/Release/net6.0/PublishOutputs.12b8d1f922.txt
OxygenSiteRefactor/obj/Release/net6.0/ref/OxygenSiteRefactor.dll
OxygenSiteRefactor/obj/Release/net6.0/refint/OxygenSiteRefactor.dll
OxygenSiteRefactor/Properties/PublishProfiles/FolderProfile.pubxml
OxygenSiteRefactor/Properties/PublishProfiles/FolderProfile.pubxml.user
